@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

header{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
}

header img{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    margin-left: 4.5%;
    margin-top: 1%;
}

header p{
    width: 25%;
    color: #000;
    font-family: Silkscreen;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 3.5%;
    margin-left: 2%;
}

header > span{
    margin-top: 3.5%;
    margin-left: 30%;
}