body{
    /* width: 1440px;
    height: 1024px; */
    background: #E4D6A7;
}

.outer_box{
    width: 1485px;
    height: 756px;
    flex-shrink: 0;

    border-radius: 26px;
    background: #9B2915;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inner_box{
    width: 1350px;
    height: 620px;
    flex-shrink: 0;
    /* margin-top: 10px; */

    border-radius: 29px;
    background: #E9B44C;
}

.options{
    display: flex;
    flex-direction: row;
    
    gap: 10px;
    margin-left: 90px;
    
    color: #000;
    font-family: Silkscreen;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#ongoing, #completed, #missed{
    width: 154px;
    height: 54px;
    flex-shrink: 0;
    background: #50A2A7;
    border-radius: 14px;
    margin-top: 30px;
}

button{
    width: 215px;
    height: 61px; 

    right: 150px;
    border-radius: 14px;
    border-color: #50A2A7;
    background: #50A2A7;

    margin-left: 1050px;
    margin-top: 30px;
    
    color: #000;
    font-family: Silkscreen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tasks{
    margin-top: 20px;
    width: 932px;
    height: 69px;
    border-radius: 14px;
    background: #E4D6A7;
}

input[type="checkbox"]{
    width: 77px;
    height: 79px;

    border-radius: 14px;
    background: #E4D6A7;
}