@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    width: 1440;
    height: 1024;
    top: -155px;
    left: -1664px;
    background: #E4D6A7;
}

center{
    margin-top: 100px;
}

.outer_box{
    width: 1067px;
    height: 750px;
    flex-shrink: 0;
    border-radius: 26px;
    top: 159px;
    left: 186px;
    background: #9B2915;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

.rectangle{
    width: 249px;
    height: 16px;
    flex-shrink: 0;
    top: 202px;
    left: 253px;
    border-radius: 14px;
    background: #50A2A7;
    margin-top: 15px;
    margin-left: 50px;
}

.boxes{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
}

.box{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: end;
    align-items: stretch;
    align-content: stretch;
    width: 49px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
    margin-left: 570px;
}

.box1{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: end;
    align-items: stretch;
    align-content: stretch;
    width: 49px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
}

.inner_box{
    display: flex;
    justify-content: center;
    width: 1007px;
    height: 620px;
    flex-shrink: 0;
    top: 259px;
    left: 216px;
    border-radius: 29px;
    background: #E9B44C;
}

.inputs{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

img{
    width: 175px;
    height: 175px;
    top: 272px;
    left: 635px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-top: 20px ;
}

input{
    width: 423px;
    height: 50px;
    padding-left: 20px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #E4D6A7;
    border: #E4D6A7;

    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 30.26px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.50);
}

.input1{
    margin-top: 5px;
}

p{
    width: 398;
    height: 31;
    top: 431px;
    left: 529px;

    color: #000;
    font-family: Silkscreen;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p1{
    margin-bottom: 50px;
    margin-top: 30px;
}

button{
    width: 215px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
    border: #50A2A7;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.b1{
    margin-top: 30px;;
}