* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 80px 10px 30px;
    justify-content: space-between;
}

.logoName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 190px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.logo {
    background-color: red;
    padding: 20px;
}

.group {
    max-width: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainNav {
    background-color: white;
    padding: 10px 30px 10px 30px;
}

.mainNav a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 19px;
    color: black;
    position: relative;
    padding-bottom: 5px;
}

.mainNav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.mainNav a:hover::after {
    width: 100%;
}