* {
    padding: 0;
    margin: 0;
}

.imageWithSuwat {
    background-image: url(homepagePainting.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 600px;
    width: auto;
    justify-content: end;
    text-align: center;
    color: white;
    font-size: 35px;
    gap: 15px;
}


.upatGaLinyaNgaStyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding: 80px 50px;
}
.style1 {
    text-align: center;
    font-size: 20px;    
}
.style1 a {
    text-decoration: none;
    list-style: none;
    color: black;
}
.style1 p {
    margin-top: 10px;
}
.style1 img {
    height: auto;
    width: 100%;
    max-width: 300px;
}


.paraMaTunga {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background-color: aqua; */
    margin: 50px 70px;
}
.searchDiv {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: gray;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.searchDiv p {
    font-size: 50px;
}
.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    width: 85%;
}
.searchIcon {
    background-color: red;
    padding: 20px;
}
.search-input {
    padding: 10px;
    width: 100%;
    /* border-radius: 0px 10px 10px 0px; */
    text-decoration: none;
    font-size: 25px;
}


.byPrice {
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
}
.byPrice p {
    font-size: 40px;
}
.buttonsPrices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    width: 100%;
}
.buttonsPrices button {
    padding: 20px 70px;
    background-color: white;
    font-size: 20px;
}
