<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromatica | Paintings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/it3103a-todo/IT3103A-PAINTING CHURVA/styles/headerFooter.css">
    <link rel="stylesheet" href="/it3103a-todo/IT3103A-PAINTING CHURVA/styles/homepage.css">
</head>
<body>

    <!-- Navbar -->
    <header>
        <a class="navbar-brand fw-bold" href="homepage.html">CHROMATICA</a>
        <div class="group">
            <div class="account">
                <i class='bx bx-user-circle' id="accountIcon"></i>
                <div class="dropdown" id="dropdownMenu">
                    <a href="loginUser.html"><button id="loginBtn" class="dropdown-item d-none">Login</button></a>
                    <a href="registerUser.html"><button id="registerBtn" class="dropdown-item d-none">Register</button></a>
                    <button id="logoutBtn" class="dropdown-item d-none">Logout</button>
                </div>
            </div>
            
        <a href="cart.html"><i class='bx bx-shopping-bag' ></i></a>
        </div>
    </header>
    <nav class="mainNav">
        <a href="../views/paintingsPage.html" style="color: darkgreen; font-weight: 500;">Paintings</a>
        <a href="../views/drawingsPage.html">Drawings</a>
        <a href="../views/printsPage.html">Prints</a>
    </nav>
    <div class="overlay" id="overlay"></div>

<!--------------CONTENT---------------->
<div class="allArtworks">
    <h5>All Artworks | Paintings</h5>
    <div class="dropdown-container">
    
        <!-- Sort by Dropdown -->
        <select name="sort" id="sort">
          <option value="" disabled selected hidden>Sort By</option>
          <option value="low">Price: Low to High</option>
          <option value="high">Price: High to Low</option>
        </select>
      </div>
</div>

<div class="data-container">
    <!-- empty: artworks.js will inject .details blocks here -->
</div>

<!----------- FOOTER --------------->
    <footer>
        <h3>CHROMATICA</h3>
        <p>"Chromatica is your ultimate destination for discovering and purchasing stunning digital art. Whether you're an artist looking to showcase your work or an art enthusiast searching for unique pieces, our platform connects creativity with passion. Explore, create, and collect — all in one place!"</p>
    </footer>

    <script src="/it3103a-todo/IT3103A-PAINTING CHURVA/scripts/homepage.js"></script>
    <script src="/it3103a-todo/IT3103A-PAINTING CHURVA/scripts/artworks.js"></script>
    <script src="../scripts/handler.js"></script>
    <script>
        loadArtworks('Painting');
    </script>
</body>
</html>