@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body{
    /* width: 1440;
    height: 1024;
    top: -155px;
    left: -1664px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* padding: 30px; */
    background: #E4D6A7;
}

/* center{
    margin-top: 100px;
} */

.outer_box{
    width: 80vw; /* Adjust width based on viewport */
    height: 90vh; /* Use viewport height instead of fixed pixels */
    max-height: 650px; /* Prevent it from being too large */
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* flex-shrink: 0; */
    border-radius: 26px;
    padding: 20px;
    margin-top: 20px;
    /* top: 159px;
    left: 186px; */
    background: #9B2915;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 10px;
    /* gap: 10px; */
}

.rectangle{
    width: 349px;
    height: 16px;
    max-width: 500px;
    /* flex-shrink: 0; */
    /* top: 202px;
    left: 240px; */
    border-radius: 14px;
    /* flex-grow: 1; */
    background: #50A2A7;
    /* margin-top: 15px;
    margin-left: 0px; */
}

.groupbox {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.box, .box1{
    width: 49px;
    height: 46px;
    max-width: 50px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
    /* margin-left: 570px; */
}

/* .box1{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: end;
    align-items: stretch;
    align-content: stretch;
    width: 49px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
} */

.inner_box{
    display: flex;
    justify-content: center;
    width: 70vw; /* Adjust width based on viewport */
    height: 75vh; /* Use viewport height instead of fixed pixels */
    max-height: 550px; /* Prevent it from being too large */
    max-width: 90vw;
    padding: 20px;
    /* flex-shrink: 0; */
    flex-wrap: wrap;
    /* top: 259px;
    left: 216px; */
    border-radius: 29px;
    background: #E9B44C;
}

.inputs{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

img{
    width: 175px;
    height: 175px;
    top: 272px;
    left: 635px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    /* margin-top: 20px ; */
}

.group_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Takes full width of the container */
    max-width: 400px; /* Prevents it from being too wide */
}

input{
    width: 100%; /* Takes full available width */
    max-width: 100%; /* Ensures it doesn’t exceed its container */
    height: 45px;
    padding-left: 20px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #E4D6A7;
    border: #E4D6A7;

    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 30.26px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.50);
}

p{
    width: 398;
    height: 31;
    top: 431px;
    left: 529px;
    word-wrap: break-word;
    color: #000;
    font-family: Silkscreen;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .p1{
    margin-bottom: 50px;
    margin-top: 30px;
} */

button{
    width: 215px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #50A2A7;
    border: #50A2A7;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 30px; */
    cursor: pointer;
}
/* 
.b1{
    margin-top: 30px;
    cursor: pointer;
} */