.container {
    padding: 20px;
}
.section {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
}
.artwork-item {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}
.sales-transactions {
    text-align: center;
    padding: 50px;
    border: 1px solid #ddd;
}

.custom-btn {
    background-color: #fff;
    color: #000;
}

.custom-btn:hover{
    background-color: #fff;
    color: #000;
}